body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

p {
    line-height: 1.0; }

a {
    color: #59a7d4; }
a.active, a:active, a:focus, a:hover {
    color: #328cc1; }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.0;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }